@use '../../variables' as *;

.container {
  @include display-flex(space-between, flex-start);
  gap: 3rem;

  .heroSection {
    @include border-radius(1rem);
    @include display-flex(space-between, flex-start);
    flex-direction: column;
    padding: 1rem;
    background: $secondaryColor;
    color: $primaryBg;
    height: 80vh;
    width: 35%;

    h5 {
      margin-top: 0;
    }

    h1 {
      @include font-variation(500);
      letter-spacing: 1px;
    }

    .content {
      h5 {
        @include font-variation(200);
        letter-spacing: 1px;
      }
    }

    .cardContainer {
      .card {
        @include display-flex(unset, flex-start);
        @include border-radius(1rem);
        background: rgba(0, 0, 0, 0.4);
        gap: 1rem;
        padding: 1rem;
        margin: 0 0 1rem;

        .avatarContainer {
          @include border-radius(50%);
          overflow: hidden;
          position: relative;
          width: 50px;
          height: 50px;
        }

        .cardContent {
          width: calc(100% - 50px);
          h5 {
            margin-top: 0;
            letter-spacing: 1px;
          }

          p {
            margin-bottom: 0;
          }
        }
      }

      .dotContainer {
        @include display-flex(center, center);
        gap: 0.5rem;

        span {
          @include border-radius(50%);
          display: block;
          height: 5px;
          width: 5px;
          background: rgba($fontWhite, 0.6);

          &.active {
            height: 8px;
            width: 8px;
            background: $fontWhite;
          }
        }
      }
    }
  }

  .formContainer {
    width: calc(100% - 35%);

    h2 {
      text-transform: capitalize;
    }

    p {
      @include display-flex(unset, center);
      gap: 0.25rem;

      a {
        @include font-variation(600);
        position: relative;

        &::after {
          @include transition(0.3s ease-in-out);
          @include transform(scaleX(0));
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          width: 100%;
          height: 2px;
          background: $secondaryColor;
          transform-origin: left;
        }

        &:hover::after {
          @include transform(scaleX(1));
        }
      }
    }
  }
}
