@use '../../variables' as *;

.container {
  @include transform(translateX(-50%));
  @include border-radius(0.2rem);
  @include display-flex(center, center);
  @include transition(all 0.5s ease-in-out);
  position: fixed;
  bottom: 5rem;
  left: 50%;
  padding: 0.5rem 1rem;
  gap: 2rem;

  &.success {
    background: $toastSuccessBg;
    color: $toastSuccessColor;
  }

  &.warning {
    background: $toastWarningBg;
    color: $toastWarningColor;
  }

  &.error {
    background: $toastErrorBg;
    color: $toastErrorColor;
  }

  &.info {
    background: $toastInfoBg;
    color: $toastInfoColor;
  }

  &.hide {
    @include transform(translate(-50%, 100vh));
  }

  p {
    @include font-variation(500);
    margin: 0;
    letter-spacing: 0.2px;
    font-size: 0.86rem;
  }

  button {
    display: grid;
    place-items: center;
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0.3rem;
  }
}
