@use '../variables' as *;

.form {
  width: min(100%, 416px);

  .formGroup {
    margin: 1rem 0;

    label {
      @include font-variation(500);
      display: block;
      font-size: 0.85rem;
    }

    input {
      @include border-radius(0.2rem);
      width: 100%;
      font-size: 1.25rem;
      padding: 0.5rem;
      outline: none;
      border: 1px solid rgba($color: $fontGrey, $alpha: 0.5);
      background: rgba($color: $fontWhite, $alpha: 0.5);

      &:focus {
        border: 1px solid $fontBlack;
      }
    }
  }

  .altAuthBtnContainer {
    @include display-flex(space-between, center);
    gap: 1rem;

    button {
      @include border-radius(3rem);
      @include font-variation(500);
      background: inherit;
      padding: 0.5rem 0.75rem;
      font-family: inherit;
      border: none;
      background: $secondaryColor;
      color: $fontWhite;
      letter-spacing: 1px;
      cursor: pointer;

      &:disabled {
        background: rgba($secondaryColor, 0.5);
        cursor: not-allowed;
      }
    }

    .dividerWithText {
      @include display-flex(unset, center);
      flex: 1;
      margin: 1rem 0;
      gap: 0.5rem;

      small {
        @include font-variation(500);
        color: $fontGrey;
        text-align: center;
      }

      hr {
        margin: 0;
        flex: 1;
        border: 1px solid rgba($color: $fontGrey, $alpha: 0.5);
      }
    }

    button {
      @include display-flex(unset, center);
      gap: 0.25rem;
      background: $secondaryColor;
      padding: 0.5rem 0.75rem;
      outline: none;
      border: none;
      font-family: inherit;
      font-size: 0.85rem;
      text-transform: capitalize;
      color: $fontWhite;

      .icon {
        position: relative;
        display: grid;
        place-items: center;
      }
    }
  }
}
