@use '../variables' as *;

.filterSection {
  @include display-flex(space-between, center);
}

.container {
  width: 100%;
  display: flex;
  gap: 2rem;

  .contentSection {
    width: 60%;
    @include display-flex(space-between, flex-start);
    flex-wrap: wrap;
    gap: 3vw;
  }

  .mapSection {
    width: 40%;
    height: 90vh;
    aspect-ratio: 1/1;
    position: sticky;
    top: 1rem;
  }
}
