@use '../variables';

.formContainer {
  width: 100%;

  .inpNameContainer {
    @include variables.display-flex(unset, center);

    label {
      @include variables.font-variation(600);
      font-size: 3rem;
    }

    input {
      @include variables.border-radius(0.5rem);
      @include variables.font-variation(300);
      font-size: 3rem;
      outline: none;
      padding: 0.5rem;
      border: none;
      flex: 1;

      &:focus {
        border: 0.5px solid rgba(variables.$fontGrey, 0.6);
      }
    }
  }
}
