@use '../variables';

.heroSection {
  width: 100vw;
  max-width: 100%;
  height: 80vh;
  position: relative;

  .heroText {
    width: 70%;
    @include variables.border-radius(1rem);
    @include variables.box-shadow(0 4px 30px rgba(0, 0, 0, 0.1));
    position: absolute;
    top: 45%;
    left: 10%;
    background: rgba(29, 29, 29, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    color: variables.$fontWhite;

    h2 {
      @include variables.font-variation(500);
      letter-spacing: 0.5px;
      margin: 1.5rem 0;
    }
  }
}

.content {
  @include variables.display-flex(space-between, flex-start);
  height: 80vh;
  gap: 3rem;
  padding: 2rem 0;

  .imgContainer {
    height: 100%;
    width: 50%;
    @include variables.border-radius(1.5rem);
    position: relative;
    overflow: hidden;
  }

  .textContainer {
    width: 50%;
    h2 {
      @include variables.font-variation(600);
    }
  }
}
