@use '../variables';

.container {
  height: 80vh;
  width: 100vw;
  max-width: 100%;
  position: relative;
  display: grid;
  place-items: center;
  isolation: isolate;

  & > * {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  .imageContainer {
    z-index: -1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  form {
    @include variables.border-radius(10px);
    @include variables.display-flex(center, flex-end);
    gap: 1.5rem;
    background: rgba($color: variables.$fontWhite, $alpha: 0.75);
    padding: 1rem;

    label {
      @include variables.font-variation(500);
      display: block;
      text-transform: capitalize;
      font-size: 0.8rem;
    }

    input {
      @include variables.border-radius(5px);
      padding: 1rem;
      background: variables.$fontWhite;
      border: none;
      color: variables.$secondaryColor;
      font-size: 1rem;
      font-weight: 500;
      outline: none;
    }

    & > button {
      @include variables.border-radius(5px);
      outline: none;
      border: none;
      background: variables.$secondaryColor;
      color: variables.$fontWhite;
      padding: 0.5rem 1rem;
      font-size: 0.95rem;
      font-weight: 500;
      cursor: pointer;
      font-family: inherit;
    }
  }
}
