@use '../variables';

.form {
  margin: 5vh 0;

  .formGroup {
    margin: 1rem 0;

    label {
      display: block;
      font-size: 0.85rem;
    }

    input {
      @include variables.border-radius(0.2rem);
      font-size: 1.25rem;
      padding: 0.5rem;
      min-width: 50%;
      outline: none;
      border: 1px solid variables.$fontGrey;
    }
  }

  button {
    @include variables.border-radius(3rem);
    @include variables.font-variation(500);
    background: inherit;
    padding: 1rem 2rem;
    font-family: inherit;
    border: none;
    background: variables.$secondaryColor;
    color: variables.$fontWhite;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .dividerWithText {
    @include variables.display-flex(unset, center);
    width: 50%;
    margin: 1rem 0;
    gap: 0.5rem;

    hr {
      margin: 0;
      flex: 1;
    }
  }

  .altAuthBtnContainer {
    @include variables.display-flex(space-between, center);
    width: 50%;

    button {
      @include variables.display-flex(unset, center);
      @include variables.border-radius(2rem);
      @include variables.font-variation(600);
      gap: 0.5rem;
      background: variables.$secondaryColor;
      padding: 0.75rem 1rem;
      outline: none;
      border: none;
      font-family: inherit;
      font-size: 0.85rem;
      text-transform: capitalize;
      color: variables.$fontWhite;

      .icon {
        position: relative;
        display: grid;
        place-items: center;
      }
    }
  }
}
