@use '../variables';

.galleryContainer {
  @include variables.display-flex(unset, unset);
  width: 100%;
  min-height: 40vh;
  height: 50vh;
  max-height: 60vh;
}

.mainContainer {
  @include variables.display-flex(space-between, center);
  width: 100%;
  gap: 2rem;

  .content {
    width: 70%;

    .titleSection {
      @include variables.display-flex(space-between, center);
      width: 100%;
      padding: 1rem 0;
      gap: 1rem;

      .infoSection {
        h3 {
          margin: 0;
          font-size: 1.5rem;
          font-weight: 500;
          text-transform: capitalize;
        }
      }

      .btnSection {
        @include variables.display-flex(unset, center);
        gap: 1rem;

        button {
          display: grid;
          place-items: center;
          border: none;
          background: transparent;
          cursor: pointer;

          span {
            @include variables.icon-variation(1);
            font-size: 1.75rem;
          }
        }
      }
    }

    .featureSection {
      @include variables.display-flex(unset, center);
      gap: 1rem;
      flex-wrap: wrap;

      .feature {
        @include variables.display-flex(center, center);
        flex-direction: column;
        width: 125px;
        height: 125px;
        background-color: rgba(variables.$fontGrey, 0.45);
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;

        span {
          @include variables.icon-variation(1);
          font-size: 2rem;
        }
      }
    }
  }

  .cardSection {
    width: 30%;
    position: sticky;
    top: 0;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h5 {
      @include variables.font-variation(600);
      margin: 0;

      span {
        @include variables.font-variation(300);
      }
    }

    hr {
      background: variables.$fontGrey;
      height: 3px;
      margin: 1rem 0 1.5rem;
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
    }

    p {
      margin-bottom: 0.5rem;

      &:last-of-type {
        margin-bottom: 1rem;
      }
    }

    button {
      @include variables.font-variation(500);
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
      background: variables.$secondaryColor;
      color: variables.$fontWhite;
      font-family: inherit;
      font-size: 1rem;
      letter-spacing: 1px;
      border: none;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
    }

    .contactSection {
      @include variables.display-flex(space-between, center);
      gap: 1rem;
      padding: 1rem 0;

      small {
        @include variables.display-flex(unset, center);
        gap: 0.5rem;
      }
    }
  }
}
