// font Monsterrat
$Montserrat: 'Montserrat', sans-serif;

// color variables
$primaryBg: #cfd7d7;
$secondaryColor: #5a7171;
$fontGrey: #484848;
$fontWhite: #ffffff;
$fontBlack: #303030;

// font-variation mixin
@mixin font-variation($font-weight) {
  font-variation-settings: 'wght' $font-weight;
}

// display flex mixin
@mixin display-flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

// icon-variation mixin
@mixin icon-variation($fill: 0, $weight: 400, $gradient: 0, $size: 48) {
  font-variation-settings: 'FILL' $fill, 'wght' $weight, 'GRAD' $gradient,
    'opsz' $size;
}

// border-radius mixin
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

// box-shadow mixin
@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  -o-box-shadow: $shadow;
}

// transition mixin
@mixin transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
}

// transform mixin
@mixin transform($transform) {
  transform: $transform;
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
}
