@use '../../variables';

.dateInput {
  width: 100%;
  outline: none;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  bottom: -150%;
  left: 50%;
  width: 100vw;
  height: 150vh;
  z-index: 1;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.calendar {
  @include variables.border-radius(0.75rem);
  @include variables.box-shadow(0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.1));

  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 320px;
  min-width: 300px;
  max-width: 100%;
  transform: translateX(-50%);
  z-index: 2;
  background: variables.$fontWhite;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border: 0.5px solid variables.$fontGrey;

  .calendarTop {
    @include variables.display-flex(space-between, center);
    gap: 0.5rem;

    button {
      @include variables.border-radius(3rem);
      @include variables.transition(0.3s ease-in-out);
      font-family: inherit;
      background: none;
      border: 1px solid transparent;
      outline: none;
      cursor: pointer;
      font-size: 1.5rem;
      position: relative;
      overflow: hidden;
      width: 2.5rem;
      height: 2.5rem;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
        border: 1px solid variables.$fontGrey;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -50%);
        -webkit-transform: translate(-30%, -50%);
        -moz-transform: translate(-30%, -50%);
        -ms-transform: translate(-30%, -50%);
        -o-transform: translate(-30%, -50%);
        color: variables.$fontGrey;

        &.rightIcon {
          transform: translate(-40%, -50%);
          -webkit-transform: translate(-40%, -50%);
          -moz-transform: translate(-40%, -50%);
          -ms-transform: translate(-40%, -50%);
          -o-transform: translate(-40%, -50%);
        }
      }
    }

    span {
      display: block;
      text-align: center;
      h3,
      p {
        margin: 0;
        text-transform: capitalize;
      }
    }
  }

  .calendarBody {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.75rem;
    text-align: center;

    .days {
      &.active {
        @include variables.font-variation(600);
        @include variables.transition(0.2s ease-in-out);
        color: variables.$fontBlack;
        cursor: pointer;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }

      &.disabled {
        color: variables.$fontGrey;
        cursor: not-allowed;
      }

      &.today {
        background: variables.$primaryBg;
      }

      &.selected {
        background: variables.$primaryBg;
        color: variables.$fontWhite;
      }
    }
  }
}
