@use '../../variables';

.nav {
  @include variables.display-flex(space-between, center);
  width: 100vw;
  max-width: 100%;
  background: variables.$primaryBg;
  padding: 1rem 3rem;

  h2 {
    @include variables.font-variation(600);
    margin: 0;
    letter-spacing: 1px;
  }

  ul {
    @include variables.display-flex(space-between, center);
    list-style: none;
    gap: 2rem;

    li {
      a {
        @include variables.display-flex(unset, center);
        @include variables.font-variation(600);
        gap: 0.25rem;
        position: relative;
        text-transform: capitalize;

        &::after {
          @include variables.transform(scaleX(0));
          @include variables.transition(transform 0.3s ease-in-out);
          content: '';
          position: absolute;
          bottom: -0.25rem;
          left: 0;
          width: 100%;
          height: 2px;
          background: variables.$secondaryColor;
          transform-origin: left;
        }

        &:hover::after {
          @include variables.transform(scaleX(1));
        }

        span {
          // @include variables.font-variation(400);
          font-size: 1.2rem;
        }
      }

      .partnerBtn {
        @include variables.font-variation(500);
        @include variables.border-radius(2rem);
        letter-spacing: 1px;
        background-color: variables.$secondaryColor;
        color: variables.$fontWhite;
        padding: 0.5rem 1rem;

        &::after {
          display: none;
        }
      }
    }
  }
}

// // list media queries in order of largest to smallest

// // Extra Large Devices, Wide Screens
// @media (min-width: 1201px) {
//   .nav {
//     // padding: 1rem 5rem;
//   }
// }

// // Desktops and large screens
// @media (min-width: 1025px) and (max-width: 1200px) {
//   .nav {
//     // padding: 1rem 4rem;
//   }
// }

// // Laptop, Desktops
// @media (min-width: 769px) and (max-width: 1024px) {
//   .nav {
//     // padding: 1rem 3rem;
//   }
// }

// // ipads and tablets
// @media only screen and (max-width: 768px) {
//   .nav {
//     padding: 1rem;

//     ul {
//       display: none;
//     }

//     .navBtn {
//       display: grid;
//     }
//   }
// }

// // Mobiles
// @media (min-width: 320px) and (max-width: 480px) {
//   .nav {
//     // padding: 1rem 1rem;
//   }
// }
